<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyun.policelearning.dao.InformationDao">
    <select id="findTop" resultType="Information">SELECT * FROM information WHERE istop=1 ORDER BY date DESC</select>
    <select id="findNotTop" resultType="Information">SELECT * FROM information WHERE istop=0 ORDER BY date DESC</select>
    <select id="getInformationById" resultType="Information">SELECT * FROM information WHERE id=#{id}</select>
    <select id="selectPage" resultType="Information" >SELECT * FROM information</select>
    <select id="insertInformation">INSERT INTO information(title,content,view,date,istop,picture) VALUES (#{information.title},#{information.content},#{information.view},#{information.date},#{information.istop}, #{information.picture})</select>
    <delete id="deleteById">DELETE FROM information WHERE id=#{id}</delete>
    <update id="updateById">UPDATE information SET title=#{information.title},content=#{information.content},view=#{information.view},date=#{information.date} WHERE id=#{information.id}</update>
    <update id="updateTopById">UPDATE information SET istop=#{istop} WHERE id=#{id}</update>
    <update id="updateView">UPDATE information SET view = view + 1 WHERE id=#{id}</update>
    <select id="getPictureById" resultType="Information">SELECT * FROM information WHERE id=#{id}</select>
    <select id="getPicture" resultType="Information">SELECT * FROM information WHERE ischoose=1</select>
    <select id="getAllPicture" resultType="Information">SELECT * FROM information</select>
    <update id="updateChoose">UPDATE information SET ischoose=0 WHERE ischoose=1</update>
    <update id="setChangePicture">UPDATE information SET ischoose=1 WHERE id=#{id}</update>
    <update id="updatePicture">UPDATE information SET picture=#{picture} WHERE id=#{id}</update>
    <update id="deletePicture">UPDATE information SET picture=null WHERE id=#{id}</update>
    <select id="getInformationByTitle" resultType="Information">SELECT * FROM information WHERE title=#{title}</select>
    <select id="count" resultType="Integer">SELECT COUNT(*) FROM information</select>
    <select id="search" resultType="Information">SELECT * FROM information
   <trim prefix="where" prefixOverrides="and|or">
        <if test="word!=null">
            and title like '%${word}%'
        </if>
    </trim>
    </select>
</mapper>
