<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyun.policelearning.dao.LawDao">
    <select id="findAll" resultType="Law">SELECT * FROM law</select>
    <select id="findContent" resultType="Law">SELECT * FROM law WHERE title=#{title}</select>
    <select id="findContentById" resultType="Law">SELECT * FROM law WHERE id=#{id}</select>
    <update id="updateKeyword">UPDATE law SET keyword=#{str} WHERE id=#{id}</update>
    <select id="findLawById" resultType="Law">SELECT * FROM law WHERE id=#{id}</select>
    <insert id="insert">INSERT into law(lawtype,title,content,explaination,crime,keyword) VALUES (#{lawtype},#{title},#{content},#{explaination},#{crime},#{keywords})</insert>
    <delete id="deleteById">DELETE FROM law WHERE id=#{id}</delete>
    <update id="updateById">UPDATE law SET lawtype=#{lawtype},title=#{title},content=#{content},explaination=#{explaination},crime=#{crime},keyword=#{keyword} WHERE id=#{id}</update>
    <select id="findLawByTitle" resultType="Law">SELECT * FROM law WHERE lawtype=#{lawtype}</select>
    <select id="count" resultType="Integer">SELECT COUNT(*) FROM law</select>
</mapper>