<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyun.policelearning.dao.UserDao">
    <select id="findAll" resultType="User">SELECT * FROM `user`</select>
    <select id="getByUsername" resultType="User">SELECT * FROM user WHERE username=#{username}</select>
    <select id="getRole" resultType="Integer">SELECT role FROM user WHERE username=#{username}</select>
    <select id="getById" resultType="User">SELECT * FROM user WHERE id=#{id}</select>
    <select id="count" resultType="Integer">SELECT COUNT(*) FROM user</select>
    <insert id="newUser">INSERT INTO user(username,password,nickname,realname,role,phone,sex,dept) VALUES (
                                                                                                              #{username},
                                                                                                              #{password},
                                                                                                              #{nickname},
                                                                                                              #{realname},
                                                                                                              #{role},
                                                                                                              #{phone},
                                                                                                              #{sex},
                                                                                                              #{dept}
                                                                                                          )</insert>
    <delete id="deleteUser">DELETE FROM user WHERE id=#{id}</delete>
    <update id="updateUser">UPDATE user SET
                                            username=#{username},
                                            nickname=#{nickname},
                                            realname=#{realname},
                                            role=#{role},
                                            phone=#{phone},
                                            sex=#{sex},
                                            dept=#{dept}
                            WHERE id=#{id}</update>
    <update id="changePassword">UPDATE user SET password=#{password} WHERE username=#{username}</update>
    <update id="changeNickname">UPDATE `user` SET nickname=#{nickname} WHERE username=#{username}</update>
    <select id="search" resultType="User">SELECT * FROM user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="word!=null">
                and realname like '%${word}%'
            </if>
        </trim></select>
</mapper>
